.root {
  /* padding-top: 5px; */
}

.inputs {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: #272822;
  top: 0;
  padding-top: 5px;
}

.fileInput {
  margin-bottom: 5px;
}

.dateTimeInput {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 250px;
}

.text {
  font-size: 14px;
}

.textInput {
  width: 200px;
  text-align: right;
}

.select {
  width: 100px;
}

.divider {
  height: 1px;
  background-color: gray;
  margin-top: 7px;
}

.content {
  margin-top: 90px;
  resize: vertical;
  /* overflow: auto; */
  height: 80vh;
  overflow: auto;
}
